{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3 mt-2">
            {% if user_obj.profile.avatar %}
                <img class="avatar w-100" src="{{ user_obj.profile.avatar.url }}" height="250" alt="user picture">
            {% endif %}
            {% if user == user_obj %}
                <form action="{% url 'acc:user_delete_photo' user.pk %}" method="post" class="mb-2">
                    {% csrf_token %}
                    <input type="hidden" name="avatar" value="{{ user.profile.avatar.url }}">
                    {% include 'partials/delete_button.html' with btn_text='Delete Photo' additional_classes='w-100' delete_item='avatar' %}
                </form>
                <a class="btn btn-primary w-100" href="{% url 'acc:user_update' user_obj.pk %}">Edit</a>
                <a class="btn btn-primary w-100 mt-2" href="{% url 'acc:change_password' user_obj.pk %}">
                    Change Password
                </a>
            {% endif %}
        </div>
        <div class="col-9">
            <h1>{{ user_obj.username }}'s page</h1>
            <p>Username: {{ user_obj.username }} <a
                    href="{% if not user_obj.profile.github_link %}#{% else %}{{ user_obj.profile.github_link }}{% endif %}">
                <i class="fab fa-github ms-2 github-color"></i></a></p>
            About me:
            <p>
                {{ user_obj.profile.personal_info }}
            </p>
            <p>First name: {{ user_obj.first_name }}</p>
            <p>Last name: {{ user_obj.last_name }}</p>
            <p>Email: {{ user_obj.email }}</p>
        </div>
    </div>
    {% include 'partials/projects_list.html' with projects=page_obj %}
{% endblock %}
