<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'issues:issues_list' %}">Issue Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav">
                {% if perms.accounts.view_user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'acc:list_users' %}">Users</a>
                    </li>
                {% endif %}

                {% if perms.issue_tracker.add_project %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects:project_create' %}">Create Project</a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects:projects_list' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'issues:issues_list' %}">Issues</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'acc:logout' %}"
                           onclick="return confirm('Are you sure?')">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'acc:profile' user.pk %}">Hello {{ user }}!</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                           href="{% url 'acc:login' %}{% if next_url %}?next={{ next_url }}{% endif %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                           href="{% url 'acc:register' %}{% if next_url %}?next={{ next_url }}{% endif %}">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'issues:issues_list' %}"></a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                {% include 'partials/search.html' %}
            {% endif %}
        </div>
    </div>
</nav>