{% extends "accounts_base.html" %}
{% load i18n static %}

{% block title %}
    <h3 id="form-title" class="text-uppercase">{% translate 'reset password' %}</h3>
{% endblock %}
{% block content %}

    {% if validlink %}

        <div class="d-flex flex-column align-items-center justify-content-center">
            <p class="text-center">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned d-flex align-items-center justify-content-center flex-column">
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    {{ form.new_password1.errors }}

                    <div class="input-group mb-3 justify-content-center">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <label>
                            <input type="password" name="{{ form.new_password1.name }}"
                                   class="form-control" placeholder="{% translate 'New password' %}">
                        </label>
                    </div>
                    {{ form.new_password2.errors }}

                    <div class="input-group mb-3 justify-content-center">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <label>
                            <input id="id_new_password2" type="password" name="{{ form.new_password2.name }}"
                                   class="form-control" placeholder="{% translate 'Confirm password' %}">
                        </label>
                    </div>

                    <div>
                        <input type="submit" value="{% translate 'Change my password' %}"
                               class="btn btn-success w-100">
                    </div>
                </fieldset>
            </form>
        </div>

    {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
